.about .highlight {
  position: absolute;
  background: $green;
  width: 137px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.about h2 {
  margin-top: 10px;
}

.aboutContainer {
  display: flex;
  margin-top: 25px;
  p {
    width: 75%;
    padding-right: 15%;
    span {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  } 
}

.avatarContainer {
  width: 25%;
  .avatar {
    height: auto;
    width: 100%;
    opacity: 0.9;
    border-radius: 30%;
  }
}