.contact .highlight {
  position: absolute;
  background: $mustard;
  width: 115px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.contact h2 {
  margin-top: -70px;
}

.contactInfoContainer {
  display: flex;
  justify-content: space-between;
  .contactMeContainer {
    width: 40%;
    i {
      padding-left: 20%;
      padding-right: 10%;
      opacity: 0.8;
    }
    p {
      margin-top: 20px;
    }
    .contactEmail {
      font-weight: 600;
      text-decoration: none;
      opacity: 0.8;
    }
    a {
      color: black;
    }
    a:hover {
      color: $mustard;
    }
  }  
}

form {
  width:200px;
  padding:20px 20px 20px 0px;
  input[type=text],
  input[type=email],
  textarea {
    padding: 10px;
    margin:10px 0;
    border-radius: 10px; 
    background: $mustard;
    border: none;
    opacity: 0.7;
  }
  textarea {
    height: 150px;
    width: 500px;
    resize: none;
  }
  input[type=text],
  input[type=email] {
    width: 500px;
  } 
  .placeholder {
    font-family: $bodyFont;  
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: $mustard;
    opacity: 0.7;
    cursor: pointer;
    width: 75%;
    margin-top: 10px;    
  }
  button:hover {
    background: $peach;
  }
}

