.contact .highlight {
  position: absolute;
  background: $mustard;
  width: 115px;
  height: 24px;
  top: 38px;
  right: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.contact h2 {
  margin-top: -120px;
}