// font styles
$headerFont: 'Unica One', cursive;
$bodyFont: 'Work Sans', sans-serif;
// font sizes
$h1Size: 6rem;
$h2Size: 2rem;
$h3Size: 1.4rem;
$bodySize: 1rem;
$footerSize: 1rem;

h1,
i {
  font-size: $h1Size;
}

h2 {
  font-size: $h2Size;
}

h3 {
  font-size: $h3Size;
}

h1, h2, h3 {
  font-family: $headerFont;
  opacity: 0.8;
}

p,
li,
footer {
  font-family: $bodyFont;
}

p {
  font-size: $bodySize;
  line-height: 1.6;
}

footer {
  font-size: $footerSize;
}