// highlight styles
.skills {
.highlight {
  position: absolute;
  background: $orange;
  width: 90px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
  }
  h2 {
    margin-top: -50px;
  }
}

.iconContainer1,
.iconContainer2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
  text-align: center;
  .icon {
    opacity: 0.8;
    padding-top: 5%;
  }
  p {
    visibility: hidden;
    opacity: 0;
  }
}
// hover styles and transitions
.icon:hover + .hideText {
  visibility: visible;
  transition: all 0.8s ease;
  opacity: 1;
}
