// highlight styles
.skills h2 {
  margin-top: -45px;
  }

.skills .highlight {
  position: absolute;
  background: $orange;
  width: 90px;
  height: 24px;
  top: 38px;
  right: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.iconContainer1,
.iconContainer2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
  text-align: center;
  .icon {
    opacity: 0.8;
    padding-top: 5%;
  }
  p {
    visibility: hidden;
  }
}

// hover styles
.icon:hover + .hideText {
  visibility: visible;
}