html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
i {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h1, h2, h3 {
  font-family: "Unica One", cursive;
  opacity: 0.8;
}

p,
li,
footer {
  font-family: "Work Sans", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

footer {
  font-size: 1rem;
}

header {
  height: 100vh;
  background-image: url(assets/rainbow.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin: 0;
}

.about .highlight {
  position: absolute;
  background: #67B7B4;
  width: 137px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.about h2 {
  margin-top: 10px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer p {
  width: 75%;
  padding-right: 15%;
}

.aboutContainer .avatarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatarContainer {
  width: 25%;
}

.avatarContainer .avatar {
  height: auto;
  width: 100%;
  opacity: 0.9;
  border-radius: 30%;
}

.skills h2 {
  margin-top: -65px;
}

.skills .highlight {
  position: absolute;
  background: #FAB089;
  width: 90px;
  height: 24px;
  top: 38px;
  right: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.iconContainer1,
.iconContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.iconContainer1 .icon,
.iconContainer2 .icon {
  opacity: 0.8;
  padding-top: 5%;
}

.projects {
  height: 100vh;
}

.projects h2 {
  margin-top: 5%;
}

.projects p {
  margin: 1% 0 0 0;
  text-align: center;
  padding: 35px 20px 20px 20px;
}

.projects .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .skillsContainer li {
  list-style: none;
  border: 2px solid rgba(202, 174, 162, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.projects .skillsContainer li a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.projects .highlight {
  position: absolute;
  background: rgba(202, 174, 162, 0.6);
  width: 128px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.imageContainer img {
  margin-top: 5%;
  width: 100%;
  height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 30px;
}

.maincarousel {
  height: 100%;
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
}

.flickity-button:hover {
  color: rgba(202, 174, 162, 0.6);
}

.buttonHover:hover {
  background: rgba(202, 174, 162, 0.6);
}

.contact .highlight {
  position: absolute;
  background: #EFB470;
  width: 115px;
  height: 24px;
  top: 38px;
  right: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.contact h2 {
  margin-top: -120px;
}

footer {
  background: #FBE0CD;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

body {
  background: #f8f8ff;
}

h2 {
  padding-top: 20px;
  margin: 0;
}

.about,
.skills,
.contact {
  height: 50vh;
}

.skills h2,
.contact h2 {
  text-align: right;
}
/*# sourceMappingURL=styles.css.map */