@import 'partials/setup';
@import 'partials/fonts';
@import 'partials/colours';
@import 'partials/header';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/contact';
@import 'partials/footer';

.wrapper {  
  width: 80%;
  margin: 0 auto;
  max-width:1200px;
  position: relative;
}

main {
  background: $offWhite;
}

h2 {
  padding-top: 20px;
  margin: 0;
}

.about, 
.skills,
.contact {
  height: 50vh;
}

.skills h2, 
.contact h2 {
  text-align: right;
}


