html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
i {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h1, h2, h3 {
  font-family: "Unica One", cursive;
  opacity: 0.8;
}

p,
li,
footer {
  font-family: "Work Sans", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.contactMeContainer i {
  font-size: 3rem;
}

footer {
  font-size: 1rem;
}

header {
  height: 100vh;
  background-image: url(assets/rainbow.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin: 0;
}

.about .highlight {
  position: absolute;
  background: #67B7B4;
  width: 137px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.about h2 {
  margin-top: 25px;
}

.aboutContainer {
  margin-top: 25px;
}

.aboutContainer img {
  float: right;
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin-bottom: 5%;
  margin-left: 5%;
}

.aboutContainer span {
  font-weight: 700;
  font-size: 1.2rem;
}

.avatarContainer {
  width: 25%;
}

.avatarContainer .avatar {
  height: auto;
  width: 100%;
  opacity: 0.9;
  border-radius: 30%;
}

.skills .highlight {
  position: absolute;
  background: rgba(250, 176, 137, 0.6);
  width: 90px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.skills h2 {
  margin-top: -50px;
}

.iconContainer1,
.iconContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
  text-align: center;
}

.iconContainer1 .icon,
.iconContainer2 .icon {
  opacity: 0.8;
  padding-top: 5%;
}

.iconContainer1 p,
.iconContainer2 p {
  visibility: hidden;
  opacity: 0;
}

.icon:hover + .hideText {
  visibility: visible;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 1;
}

.projects {
  height: 100vh;
}

.projects h2 {
  margin-top: 5%;
}

.projects p {
  margin: 1% 0 0 0;
  text-align: center;
  padding: 35px 20px 20px 20px;
}

.projects .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.projects .skillsContainer li {
  background: rgba(202, 174, 162, 0.6);
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
}

.projects .skillsContainer li a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.projects .highlight {
  position: absolute;
  background: rgba(202, 174, 162, 0.6);
  width: 128px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.imageContainer img {
  margin-top: 5%;
  width: 100%;
  height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-carousel {
  height: 100%;
}

.main-carousel .carousel-cell {
  width: 100%;
  margin-right: 10px;
}

.flickity-button:hover {
  color: rgba(202, 174, 162, 0.6);
}

.contact .highlight {
  position: absolute;
  background: rgba(239, 180, 112, 0.6);
  width: 115px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.contact h2 {
  margin-top: -120px;
}

.contactInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfoContainer .contactMeContainer {
  width: 40%;
}

.contactInfoContainer .contactMeContainer i {
  padding-left: 20%;
  padding-right: 10%;
  opacity: 0.8;
}

.contactInfoContainer .contactMeContainer p {
  margin-top: 60px;
}

.contactInfoContainer .contactMeContainer span {
  font-weight: 600;
}

.contactInfoContainer .contactMeContainer a {
  color: black;
}

.contactInfoContainer .contactMeContainer a:hover {
  color: rgba(239, 180, 112, 0.6);
}

form {
  width: 200px;
  padding: 20px;
}

form input[type=text],
form input[type=email],
form textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background: rgba(239, 180, 112, 0.6);
  border: none;
  opacity: 0.7;
}

form textarea {
  height: 150px;
  width: 500px;
  resize: none;
}

form input[type=text],
form input[type=email] {
  width: 500px;
}

form .placeholder {
  font-family: "Work Sans", sans-serif;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(239, 180, 112, 0.6);
  opacity: 0.7;
  cursor: pointer;
  width: 75%;
  margin-top: 10px;
}

form button:hover {
  background: #FBE0CD;
}

footer {
  background: #FBE0CD;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

body {
  background: #f8f8ff;
}

h2 {
  padding-top: 20px;
  margin: 0;
}

.about,
.skills,
.contact {
  height: 50vh;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 1450px) {
  .about {
    height: 60vh;
  }
}

@media screen and (max-width: 1120px) {
  .skills {
    margin-top: 5%;
  }
  .iconContainer2 {
    margin-top: 25px;
  }
}

@media screen and (max-width: 970px) {
  .about {
    height: 50vh;
  }
  .about img {
    height: 250px;
    width: 250px;
  }
  .about p {
    font-size: 0.9rem;
  }
  .skills {
    margin-top: 10%;
  }
}

@media screen and (max-width: 830px) {
  .aboutContainer p > span {
    font-size: 1rem;
  }
  .skills {
    margin-top: 12%;
  }
  .icon {
    font-size: 5rem;
  }
}

@media screen and (max-width: 780px) {
  header {
    height: 85vh;
  }
  .about img {
    height: 200px;
    width: 200px;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  .skills {
    margin-top: 17%;
  }
  .projectInfoContainer p {
    font-size: 0.9rem;
  }
  .projectInfoContainer li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 675px) {
  h1 {
    font-size: 5rem;
  }
  .skills h2 {
    margin: 0;
  }
  .icon {
    font-size: 4rem;
  }
  .hideText {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 70vh;
  }
  .about {
    height: 60vh;
  }
  .about img {
    height: 150px;
    width: 150px;
    margin-bottom: 1%;
    margin-left: 1%;
  }
  .skills {
    margin-top: 0;
  }
}

@media screen and (max-width: 535px) {
  h1 {
    font-size: 4rem;
  }
  .about {
    height: 70vh;
  }
  .iconContainer1 .icon,
  .iconContainer2 .icon {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 60vh;
  }
  header h1 {
    font-size: 2.5rem;
  }
  .about {
    height: 80vh;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 50vh;
  }
  .about {
    height: 80vh;
  }
  .skills {
    height: 40vh;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 1.5rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  .about {
    height: 70vh;
  }
  .about p {
    font-size: 0.8rem;
  }
  .iconContainer1 .icon,
  .iconContainer2 .icon {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 350px) {
  .about {
    height: 80vh;
  }
}
/*# sourceMappingURL=styles.css.map */